<%= turbo_frame_tag url do %>
  <div class="flex justify-between py-5 px-5">
    <div class="flex flex-col">
      <p class="text-2xl font-bold mb-3"><%= url.title %></p>
      <p class="text-lg font-bold text-orange-500"><%= url.final_url %></p>
      <div class="flex items-center ml-2">
        <i class="fa-solid fa-arrow-right text-gray-500"></i>
        <p class="ml-3 text-gray-500 text-sm"><%= url.destination.truncate(100) %></p>
      </div>
    </div>
    <div>
      <div class="flex items-center">
        <%= link_to edit_url_path(url) do %>
          <i class="fa-solid fa-pen-to-square text-2xl text-gray-700 mr-3 hover:text-orange-500"></i>
        <% end %>
        <%= button_to url_path(url), method: :delete do %>
          <i class="fa-solid fa-trash text-2xl text-gray-700 hover:text-orange-500"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
