<div class="container w-3/4 mx-auto">
  <h1 class="primary text-3xl font-bold mb-10">Links</h1>

  <div class="border divide-y divide-solid w-full">
    <div class="w-full flex justify-between items-center py-3 px-5">
      <p><%= @urls.count %> Results</p>
      <%= link_to "+ New Link", new_url_path, class: "btn py-2 px-3" %>
    </div>
    <% @urls.each do |url| %>
      <div>
        <%= render "url", url: url %>
      </div>
    <% end %>
  </div>

  <div class="flex justify-center <%= "hidden" unless @urls.empty? %>">
    <div class="border border-dotted border-2 w-full py-10 flex flex-col justify-center items-center">
      <h4>You don't have any Links yet</h4>
      <p>Get started by creating a new Link.</p>
      <div class="btn py-2 px-5">
        <%= link_to "Add Link", new_url_path %>
      </div>
    </div>
  </div>
</div>
