<%= simple_form_for @url do |f| %>
  <div>
    <div class="flex flex-col">
      <%= f.label :destination %>
      <%= f.input_field :destination %>
      <%= f.label :title %>
      <%= f.input_field :title %>
      <%= f.label :short_link %>
      <%= f.input_field :short_link %>
    </div>
  </div>
    <%= f.submit "Submit" %>
<% end %>
